*{
    padding:0;
    margin:0;
    box-sizing:box-border;
}

body{  

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size:medium;
  height:1000px;

}

#navbar{
    background-color:rgb(231, 60, 60);
    color:white;
    text-shadow:2px 2px 5px blue;
    padding-bottom:15px;
    margin-bottom:30px;
    text-align:center;
    text-decoration:underline;
    font-size:43px 

}

#centerbody{
    background-color:rgb(225, 231, 218);
    padding:30px;
    border-top:1px solid grey;
    height: 100%;
}

.container{
    width:200px;
    height:auto;
    background-color: rgba(231, 60, 60, 0.842);
    border:2px solid red;
    border-radius:20px;
    padding:20px 30px;
    display:inline-block;
    margin:20px;
    vertical-align: top;
}

.container h2{
    color:rgb(69, 42, 165);
    text-decoration: underline;
    text-shadow:1px 1px 1px rgba(119, 0, 255, 0.589);
    margin-bottom:10px;
}

.container h3{
    color:rgb(114, 46, 46);
}

.container p{
    color:rgb(255, 255, 255);
    font-size:small;
    text-align: justify;
}

.del{
    border:none;
    border-radius:13px;
    background-color:orange;
    font-size:10px;
    font-weight:bold;
    padding:5px 9px;
    margin-top:10px;
}

#overlay{
    background-color:black;
    height:inherit;
    width: 100%;
    opacity: 0.8;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:10;
    display:none;

}

#popup{
    background-color:rgb(231, 60, 60);
    display:none;
    position:absolute;
    left:37%;
    top:30%;
    width:300px;
    height: 350px;
    color:white;
    border:2px solid black;
    border-radius:20px;
    padding:30px;
    z-index:100;
}

#popup h2{
    text-decoration:underline 2px rgb(255, 255, 255);
    text-underline-offset:5px;
    color:rgb(255, 140, 0);
    text-shadow:2px 2px 5px rgb(0, 0, 0);
    margin-bottom:20px;
}

#addTitle,#addAuthor,#addDescription{
    border:none;
    border-bottom:2px black solid;
    padding:10px;
    margin:10px;
    width:90%;
    border-radius:10px;
}

#addTitle,#addAuthor,#addDescription:focus{
    outline:none;
}

#addTitle,#addAuthor,#addDescription::placeholder{
    color:rgba(0, 0, 0, 0.548);
    font-size:large;
    padding-right:10px;
    font-weight: bold;
}

#addDescription{
    height:60px;
}

#add{
    position:fixed;
    bottom:20px;
    right:20px;
    font-size:50px;
    padding:20px 25px;
    border:none;
    border-radius:100%;
    background-color:rgb(231, 60, 60);
    color:white;
}

#addBook,#cancel{
    padding:5px 8px;
    margin:20px;
    border:none;
    font-size:larger;
    background-color:orange;
    font-weight:bold;
    border-radius:5px;

}